
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
:root{

   /* Blue */
    --color-blue-50: #88e4eb;
    --color-blue-100: #28a3ac;
    --color-blue-200: #075461;

    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-200));
}

#body {
    background-color: #f2f3f4
}


/*Formatação do Cabeçalho*/
header {
    width:px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans';
}

.logo-header img { /*Logo Bom Despacho*/
    height: 150px;
    width: 150px;
    margin-left: 40px;
}

h1 { 
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
}

.img-header { /*Imagem do Header*/
    background-position: center;
    background-image: url(/imagem/Header.png);
    background-size: cover;
    margin-left: 100px;
    height: 200px;
    width: 1000px;
}


/*4 blocos*/
.div-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    flex: 1;
    font-size: 20px;
}

.conteudo-menu {
    background: #f2f3f4;
    height: 10px;
    width: 400px;
    text-align: center;
    color: #372174;
    font-family: 'Josefin Sans';
    margin-top: -70px;
}

/* Texto */
.texto {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    height: 25vh;
    font-family: 'Josefin Sans';
    font-size: 30px;
    margin-left: 40px;
    margin-right: 100px;
}

.pagina {
    background-color: #d1cbcb;
    border: 1px solid #372174;
    margin-left: 40px;
    margin-right: 30px;
}

/*Transição Sublinhado*/
.conteudo-menu {
    position: relative;
}

.conteudo-menu:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Altura da linha de sublinhado */
    background-color: #372174; /* Cor do sublinhado */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Inicialmente, sem sublinhado visível */
    transform-origin: right;
    transition: transform 0.3s ease; /* Transição suave */
}

.conteudo-menu:hover::before {
    transform: scaleX(1); /* Quando passar o mouse, exibe o sublinhado */
    transform-origin: left;
}

/*TELA INICIAL*/

.inicial{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color:#D9D9D9;
}

.logo-tela {
    height: 250px;
    width: 1000px;
    justify-content: center;
    margin-top: 200px;
    
}

/*TELA CADASTRO CALCULADORA*/

body {
    background-color: #E7DFD8;
}

.container-blocos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex: 1;
    font-size: 20px;
    font-family: 'Josefin Sans';
}

.conteudo-calculadora {
    margin-right: 200px;
    font-family: 'Josefin Sans';
}

.bloco-esquerda {
    background-color: #28a3ac;
    height: 400px;
    width: 400px;
    margin-left: 300px;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

.h3 {
    line-height: 200px;
    text-align: center;
}